@{
    ViewBag.Title = "Offertes aanvragen";
}

<a class="tile wide imagetext" href="/Offer/CarInsurance">
    <div class="column-text">
        <div class="text-header">Auto</div>
        <div class="text4">Klik hier om een autoverzekering aan te vragen.</div>
    </div>
</a>

<a class="tile wide imagetext" href="/Offer/MotorbikeInsurance">
    <div class="column-text">
        <div class="text-header">Moto</div>
        <div class="text4">Klik hier om een motoverzekering aan te vragen.</div>
    </div>
</a>

<a class="tile wide imagetext" href="/Offer/KMOInsurance">
    <div class="column-text">
        <div class="text-header">KMO</div>
        <div class="text4">Klik hier om een KMO verzekering aan te vragen.</div>
    </div>
</a>

<a class="tile wide imagetext" href="/Offer/BoatingInsurance">
    <div class="column-text">
        <div class="text-header">Pleziervaart</div>
        <div class="text4">Klik hier om een pleziervaartverzekering aan te vragen.</div>
    </div>
</a>

<a class="tile wide imagetext" href="/Offer/OutstandingBalanceInsurance">
    <div class="column-text">
        <div class="text-header">Schuldsaldo</div>
        <div class="text4">Klik hier om een schuldsaldoverzekering aan te vragen.</div>
    </div>
</a>

<a class="tile wide imagetext" href="/Offer/HospitalizationInsurance">
    <div class="column-text">
        <div class="text-header">Hospitalisatie</div>
        <div class="text4">Klik hier om een hospitalisatieverzekering aan te vragen.</div>
    </div>
</a>